<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Quiz Page</title>
  </head>
  <body>
    <h1>Hello Niggas</h1>
    <form method="POST" action="/quiz">

      <div><label class="inline"><strong><span>Enter the Question</span></strong></label></div>
      <div>
        <input type="text" name="question_description">
      </div>

    <div class="align">
      <div><label class="inline"><strong><span>Enter Option A</span></strong></label></div>
      <div>
        <input type="text" name="option_a">
      </div>
    </div>
    <div class="align">
      <div><label class="inline"><strong><span>Enter Option B</span></strong></label></div>
      <div>
        <input type="text" name="option_b">
      </div>
    </div>
    <div class="align">
      <div><label class="inline"><strong><span>Enter Option C</span></strong></label></div>
      <div>
        <input type="text" name="option_c">
      </div>
    </div>
    <div class="align">
      <div><label class="inline"><strong><span>Enter Option D</span></strong></label></div>
      <div>
        <input type="text" name="option_d">
      </div>
    </div>

    <div class="align">
      <div><label class="inline"><strong><span>Enter Answer Option</span></strong></label></div>
      <div>
        <input type="text" name="answer">
      </div>
    </div>
      <div class="align">
        <input type="submit" value="submit" name="Submit" class="btn btn-danger">
      </div>

    </form>
  </body>
</html>
